@font-face {
  font-display: swap;
  font-family: 'BookerlyLight';
  src: url(/fonts/BookerlyLight.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'PlayfairDisplay';
  src: url(/fonts/PlayfairDisplay.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'PlayfairDisplayItalic';
  src: url(/fonts/PlayfairDisplayItalic.ttf) format('truetype');
}

:root {
  --light-color: #fefefe;
  --dark-color: #202020;
  --highlight-color: #8F4400;
  --dark-highlight-color: #F56C00;
  --quote-color: rgba(150, 150, 150, 0.3);
  --dark-quote-color: rgba(250, 250, 250, 0.3);
  scroll-behavior: smooth;
}

html, body {
  background-color: var(--light-color);
  color: var(--dark-color);
  font-family: 'BookerlyLight', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5rem;
  margin: 0;
}

nav.expanded {
  background-color: var(--light-color);
}

html.dark body,
html.dark nav.expanded {
  background-color: var(--dark-color);
  color: var(--light-color);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.locked {
  overflow: hidden;
}

main {
  flex-grow: 1;
  font-size: 1rem;
  font-size: clamp(1rem, 0.8181818181818181rem + 0.9090909090909091vw, 1.25rem);
  padding: 2rem 1rem;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
  font-family: 'PlayfairDisplay';
  margin: 0.5rem 0 1rem 0;
}

main h1:not([class^="heading-"]), main .heading-1 {
  font-size: 2.5rem;
  line-height: 3rem;
}

main h2:not([class^="heading-"]), main .heading-2 {
  font-size: 2.25rem;
  line-height: 2.75rem;
}

main h3:not([class^="heading-"]), main .heading-3 {
  font-size: 2rem;
  line-height: 2.5rem;
}

main h4:not([class^="heading-"]), main .heading-4 {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

main h5:not([class^="heading-"]), main .heading-5 {
  font-size: 1.5rem;
  line-height: 2rem;
}

main h6:not([class^="heading-"]), main .heading-6 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

main ol,
main ul {
  padding: 0 0 0 1rem;
}

main ol ol,
main ol ul,
main ul ol,
main ul ul {
  margin-top: 0.6rem;
}

main li {
  line-height: 1.75rem;
  line-height: clamp(1.75rem, 1.5681818181818181rem + 0.9090909090909091vw, 2rem);
  margin-bottom: 0.5rem;
}

main p {
  line-height: 1.75rem;
  line-height: clamp(1.75rem, 1.5681818181818181rem + 0.9090909090909091vw, 2rem);
  margin: 0 0 1rem 0;
}

main a {
  color: var(--highlight-color);
  text-underline-offset: 0.25rem;
}

html.dark main a {
  color: var(--dark-highlight-color);
}

pre {
  border-radius: 0.25rem;
  font-size: 1rem;
  margin: 1rem 0 2rem 0;
  padding: 0.75rem;
}

blockquote {
  border-left: 0.3rem solid var(--quote-color);
  margin: 1.25rem 1rem;
  padding-left: 0.75rem;
}

html.dark blockquote {
  border-left: 0.3rem solid var(--dark-quote-color);
}
