---
import BaseLayout from '../layouts/BaseLayout.astro'
import { siteTitle } from '../constants'

const subtitle = '404'
const pageTitle = siteTitle + ' - ' + subtitle
---
<BaseLayout pageTitle={pageTitle}>
	<div>
		<h1>404</h1>
		<h2>Page not found</h2>
    <img alt="MissingNo" src="/images/missingno.png" title="Wild MISSINGNO. appeared!">
	</div>
</BaseLayout>

<style>
	div {
		align-items: center;
		display: flex;
		flex-direction: column;
	}

  img {
    margin: 2rem auto;
  }
</style>