---
import MenuIcon from './MenuIcon.astro'
---
<button aria-label="Menu">
  <MenuIcon size="2rem" />
</button>

<style>
  button {
    background-color: transparent;
    border: none;
    color: inherit;
    height: 2rem;
    padding: 0;
    width: 2rem;
  }
  button:hover {
    color: #bb6633;
    cursor: pointer;
  }
  @media screen and (min-width: 636px) {
    button {
      display: none;
    }
  }
</style>