---
import { languages } from '../i18n/ui'
import { getLangFromUrl, useTranslatedPath } from '../i18n/utils'

const lang = Object.keys(languages).find(lang => lang !== getLangFromUrl(Astro.url))
const translatePath = useTranslatedPath(lang)
const currentPath = Astro.url.pathname.replace(/(en|es)\//, '')
---
<a href={translatePath(currentPath)} aria-label={languages[lang]} title={languages[lang]}>
  {lang}
</a>

<style>
  a {
    color: inherit;
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transform: translateY(-2px);
  }

  a:hover {
    color: var(--highlight-color);
  }

  html.dark a:hover {
    color: var(--dark-highlight-color);
  }
</style>