---
import { getLangFromUrl, useTranslatedPath } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const translatePath = useTranslatedPath(lang)
const { tag } = Astro.props
---
<li><a class='tag' href={translatePath(`/tags/${tag}`)}>{tag}</a></li>

<style>
  .tag {
    background-color: #101010;
    border-radius: 0.25rem;
    color: #fefefe;
    margin-left: 1rem;
    padding: 0.25rem 0.5rem;
    position: relative;
    text-decoration: none;
    z-index: 2;
  }

  .tag::after {
    background-color: #101010;
    border-radius: 0.25rem;
    content: '';
    display: block;
    height: 1.25rem;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(45deg) translateX(-3px) translateY(9px);
    width: 1.25rem;
    z-index: -1;
  }

  .tag::before {
    background-color: #fefefe;
    border-radius: 50%;
    content: '';
    display: block;
    height: 0.25rem;
    left: -0.25rem;
    position: absolute;
    top: 0.75rem;
    width: 0.25rem;
    z-index: 1;
  }

  .tag:hover,
  .tag:hover::after {
    background-color: #bb6633;
  }
</style>

<style is:global>
  html.dark .tag {
    background-color: #fefefe;
    color: #101010;
  }
  html.dark .tag::after {
    background-color: #fefefe;
  }
  html.dark .tag::before {
    background-color: #101010;
  }
  html.dark .tag:hover {
    color: #fefefe;
  }
</style>