---
import { getLangFromUrl, useTranslatedPath } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const translatePath = useTranslatedPath(lang)
const { tag } = Astro.props
---
<a class='tag' href={translatePath(`/tags/${tag}`)}>{tag}</a>

<style>
  .tag {
    background-color: #101010;
    border-radius: 0.25rem;
    color: #fefefe;
    padding: 0.25rem 0.75rem;
    text-decoration: none;
  }

  .tag:hover {
    background-color: var(--highlight-color);
  }

  html.dark .tag:hover {
    background-color: var(--dark-highlight-color);
  }
</style>

<style is:global>
  html.dark .tag {
    background-color: #fefefe;
    color: #101010;
  }
  html.dark .tag::after {
    background-color: #fefefe;
  }
  html.dark .tag::before {
    background-color: #101010;
  }
  html.dark .tag:hover {
    color: #fefefe;
  }
</style>